# Supabase Configuration
SUPABASE_URL=https://nsoqpesjmiwbfbwclwko.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zb3FwZXNqbWl3YmZid2Nsd2tvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE2OTcxMjUsImV4cCI6MjA5NzI3MzEyNX0.lF2SeRlLt9muN5CBlGYkNiHLxIjSkcRxJtO97yBo-94
